html, body {
    margin: 0;
    background-image: url("../large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
     cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg=='),
    url(images/blank.cur),
    none !important;
}

#over {
    visibility: hidden;
    width:      100%;
    height:     100%; 
    z-index:    9999 !important;
    top:        0; 
    left:       0; 
    position:   absolute;
    background-color: black;
}

.title {
    font-size: 50px !important;
    font-family: 'Francois One', sans-serif;
    padding-bottom: -20px;
}

.weather{
    height: 90%;
    width: 45%;
}

.navbar-right {
font-size: 40px;
margin-right: 15px;
}

.clock{
    margin-right: 40vw !important;
    font-size: 40px;
    font-family: 'Maven Pro', sans-serif, italic;
    margin-top: 10px;
}
.weatherImg{
    opacity: 1 !important;
}
.weatherbox {
    height: 100px;
    width: 226px;
    margin-top: 16px;
    margin-left: 25px;
    color: white;
    font-family: 'Francois One', sans-serif;
}

.even {
    background-color: #DAD289;
    height: 40px !important;
}

ul {
    margin-left: -30px;
    margin-right: -30px;
    height: 40px !important;
    margin-bottom: 0px;
}

.businessNames {
    width: 50% !important;
    text-align: left;
    font-weight: bold;
    height: 40px !important;
    margin-bottom: 2px;
}

.businessNumbers {
    width: 10% !important;
    text-align: right !important;
    margin-right: 10px !important;
    font-weight: bold !important;
}

.directory {
    background-color:#f0eed8;
    margin: 20px;
    font-family: 'Maven Pro', sans-serif, italic;
    color: black;
    font-size: 23px;
    opacity: 0.8;
    text-align: center;
}

.directorytitle {
    font-size: 32px;
    font-family: 'Francois One', sans-serif;
    border-bottom: solid 1px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 4px;
}

.container-fluid {
    background-color: #0140A1;	/* transparent */
    color: white;
    border: none;
}

.navbar-right{
    margin-left: 100px !important;
}

.date {
    margin: 0;
    margin-top: 10px;
}

.nav{
    position: absolute;
    top: 0px;
    right: 15px;
}

.temp{
    font-size: 40px;
    margin-top: -20px !important;
}

.overImg {
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.test {
    visibility: hidden;
}

